@model Budgeter.Models.BudgetItemsIndexViewModel
@using Budgeter.Models
@{
    ViewBag.Title = "Details";
}

<link rel="stylesheet" href="~/JQuery-UI/jquery-ui.min.css">
<link href="~/Content/transaction-form-style.css" rel="stylesheet">

<h2>@ViewBag.BudgetName</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <table class="table">
              

            </table>
            <table class="table">

            </table>
        </div>
        <div class="col-lg-4">
            <div id="form-placeholder">
                @{ 
                    var createItemModel = new BudgetItemCreateViewModel();
                    createItemModel = ViewBag.CreateModel;
                }
                @Html.Partial("_CreateBudgetItem", createItemModel)
           </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/JQuery-UI/jquery-ui.min.js"></script>
    <script type="text/javascript">
        @*$("#categoryselect").autocomplete({
            source:
                '@Url.Action("ExpenseSearch")'
        });*@

        $('#categoryselect').click(function() {
            if ($('#radio-income').is(':checked'))
            {
                $("#categoryselect").autocomplete({
                    source: '@Url.Action("IncomeSearch")'
                });
            }
        });
        $('#categoryselect').click(function () {
            if ($('#radio-expense').is(':checked'))
            {
                $("#categoryselect").autocomplete({
                    source: '@Url.Action("ExpenseSearch")'
                });
            }
        });

    //$(document).ready(function () {
    //    $(".delete").click(function () {
    //        $("#restore-transaction-placeholder").empty();
    //        var myId = $(this).attr('id');
    //        $("#restore-transaction-placeholder").load("/Transactions/GetView", { transactionId: myId, viewName: "_RestoreTransaction" });
    //    });
</script>
}
