@model IEnumerable<Budgeter.Models.TransactionsIndexViewModel>
@using Budgeter.Models

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
<link rel="stylesheet" href="~/JQuery-UI/jquery-ui.min.css">
<link href="~/Content/transaction-form-style.css" rel="stylesheet">

@{
    ViewBag.Title = "Index";
}
<h2>@ViewBag.AccountName</h2>
<div class="container"></div>
<div class="row">
    <div class="col-lg-4">
        <h4>
            @if (ViewBag.Balance < 0)
            {
                <span class="overdrawn">Warning: Your account is overdrawn</span>
            }
        </h4>
    </div>
    <div class="col-lg-4 col-lg-offset-4">   
        <h4>
            Balance: 
            @if (ViewBag.Balance >= 0)
            {
                @Html.Raw(" $");
                @Html.Raw(ViewBag.Balance);
            }
            else
            {
                var display = Math.Abs(ViewBag.Balance);
                @Html.Raw("-$");
                @Html.Raw(ViewBag.Balance);
            }
            @Html.Raw(" | Reconciled: ")        
            @if (ViewBag.Reconciled >= 0)
            {
                @Html.Raw(" $");
                @Html.Raw(ViewBag.Reconciled);
            }
            else
            {
                var display = Math.Abs(ViewBag.Reconciled);
                @Html.Raw("-$");
                @Html.Raw(ViewBag.Reconciled);
            }
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
       @{ 
           var createModel = new TransactionCreateViewModel();
           createModel = ViewBag.CreateModel;
       }
        <div id="create-view-placeholder">         
                @Html.Partial("_CreateTransaction", createModel)           
        </div>
        <div id="edit-transaction-placeholder">

        </div>
    </div>

    <div class="col-lg-9">
        <br />
        <p>
            @Html.ActionLink("Create Transaction", "Index", "Transactions", new { @id = @ViewBag.AccountId }, null)
        </p>
        <br />
    <table id="transactions-table" class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.DateSpent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReconciledAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnteredBy)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="#" id="@item.Id" class="edit icon-space" title="Edit"><i class="fa fa-pencil"></i></a>
                        <a href="#" id="@item.Id" class="void icon-space" title="Void"><i class="fa fa-times"></i></a>
                        <a href="#" id="@item.Id" class="delete icon-space" title="Delete"><i class="fa fa-trash"></i></a>
                    </td>
                    <td>
                        @item.DateSpent.ToString("M/d/yyyy")
                    </td>
                    <td>
                        <a href="#" id="@item.Id" class="details">@item.Description</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        $@item.Amount
                    </td>
                    <td>
                       $@item.ReconciledAmount
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnteredBy)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-lg-4">
            Starting balance: $@ViewBag.StartingBalance
        </div>
    </div>
        <div class="row">
            <div class="col-lg-4">
                @Html.ActionLink("Voided Transactions","VoidedTransactions", new { id = ViewBag.AccountId } )
            </div>
        </div>
    </div>
</div>

@section scripts{
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
<script src="~/JQuery-UI/jquery-ui.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('#transactions-table').DataTable({
            "order": [[1, 'desc']]});

        //#income-dropdown is initally hidden in transaction-form-style stylesheet
        $(document).on('focus', '#create-view-placeholder', function () {
            if ($('#radio-income').is(':checked')) {
                $("#expense-dropdown").hide();
                $("#income-dropdown").show();
            }
            if ($('#radio-expense').is(':checked')) {
                $("#income-dropdown").hide();
                $("#expense-dropdown").show();
            }
        });

        //had to change these to responding to focus event when clicked - items past 10 in DataTables wouldn't load to edit, void or delete
        $(document).on('focus', '.edit', function () {
            $("#create-view-placeholder").hide();
            $("#edit-transaction-placeholder").empty();
            var myId = $(this).attr('id');
            $("#edit-transaction-placeholder").load("/Transactions/GetView", { transactionId: myId, viewName: "_EditTransaction" });
        });

        $(document).on('focus', '.details', function () {
            $("#create-view-placeholder").hide();
            $("#edit-transaction-placeholder").empty();
            var myId = $(this).attr('id');
            $("#edit-transaction-placeholder").load("/Transactions/GetView", { transactionId: myId, viewName: "_TransactionDetails" });
        });

        $(document).on('focus', '.delete', function () {
            $("#create-view-placeholder").hide();
            $("#edit-transaction-placeholder").empty();
            var myId = $(this).attr('id');
            $("#edit-transaction-placeholder").load("/Transactions/GetView", { transactionId: myId, viewName: "_DeleteTransaction" });
        });

        $(document).on('focus', '.void', function () {
            $("#create-view-placeholder").hide();
            $("#edit-transaction-placeholder").empty();
            var myId = $(this).attr('id');
            $("#edit-transaction-placeholder").load("/Transactions/GetView", { transactionId: myId, viewName: "_VoidTransaction" });
        });

        //$(".edit").click(function () {
        //    $("#create-view-placeholder").hide();
        //    $("#edit-transaction-placeholder").empty();
        //    var myId = $(this).attr('id');
        //    $("#edit-transaction-placeholder").load("/Transactions/GetView", { transactionId: myId, viewName: "_EditTransaction" });
        //});

        //$(".details").click(function () {
        //    $("#create-view-placeholder").hide();
        //    $("#edit-transaction-placeholder").empty();
        //    var myId = $(this).attr('id');
        //    $("#edit-transaction-placeholder").load("/Transactions/GetView", { transactionId: myId, viewName: "_TransactionDetails" });
        //});

        //$(".delete").click(function () {
        //    $("#create-view-placeholder").hide();
        //    $("#edit-transaction-placeholder").empty();
        //    var myId = $(this).attr('id');
        //    $("#edit-transaction-placeholder").load("/Transactions/GetView", { transactionId: myId, viewName: "_DeleteTransaction" });
        //});

        //$(".void").click(function () {
        //    $("#create-view-placeholder").hide();
        //    $("#edit-transaction-placeholder").empty();
        //    var myId = $(this).attr('id');
        //    $("#edit-transaction-placeholder").load("/Transactions/GetView", { transactionId: myId, viewName: "_VoidTransaction" });
        //});

        //$(".create").click(function () {
        //    $("#create-view-placeholder").show();
        //    $("#create-view-placeholder").empty();
        //    $("#edit-transaction-placeholder").empty();
        //    var myId = $(this).attr('id');
        //    $("#create-view-placeholder").load("/Transactions/GetCreateView", { accountId: myId });
        //});

        //limit date of transaction to one year past and three months in the future
        //$("#transaction-datepicker").datepicker({
        //    dateFormat: "yy-mm-dd",
        //    changeYear: true,
        //    changeMonth: true,
        //    minDate: "-1y",
        //    maxDate: "+3m"
        //});

        //$("#transaction-edit-datepicker").datepicker({
        //    dateFormat: "yy-mm-dd",
        //    changeYear: true,
        //    changeMonth: true,
        //    minDate: "-1y",
        //    maxDate: "+3m"
        //});

        //$(document).ajaxStop(function () {
        //    // debugger;
        //    $("#transaction-datepicker").datepicker(
        //        {
        //            dateFormat: "yy-mm-dd",
        //            changeYear: true,
        //            changeMonth: true,
        //            minDate: "-1y",
        //            maxDate: "+3m"
        //        });
        //});

        //calling datepicker function this way allows it to load with partial views
            $(document).on('focus', '#transaction-datepicker', function () {
                $(this).datepicker({
                    dateFormat: "yy-mm-dd",
                    changeYear: true,
                    changeMonth: true,
                    minDate: "-1y",
                    maxDate: "+3m"
                });
            });

            $(document).on('focus', '#transaction-edit-datepicker', function () {
                $(this).datepicker({
                    dateFormat: "yy-mm-dd",
                    changeYear: true,
                    changeMonth: true,
                    minDate: "-1y",
                    maxDate: "+3m"
                });
            });
});
</script>
}