@model IEnumerable<Budgeter.Models.Account>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            @foreach (var item in Model)
            {
               @Html.ActionLink(item.Name, "Index", "Transactions", new { id = item.Id }, null)
               @Html.Raw("<br>")
                if (item.Balance >= 0)
                {
                    @Html.Raw("$");
                    @Html.Raw(item.Balance);
                }
                else
                {
                    var display = Math.Abs(item.Balance);
                    @Html.Raw("-$");
                    @Html.Raw(display);
                }
                @Html.Raw("<br><br>")
            }
        </div>
    </div>
</div>
