@model Budgeter.Models.TransactionCreateViewModel
@using Budgeter.Models

@using (Html.BeginForm("Create", "Transactions", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>New Transaction</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AccountId)

        <div class="form-group">
            <div class="row">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4 col-md-offset-1 form-label" })
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                @Html.LabelFor(model => model.DateSpent, htmlAttributes: new { @class = "control-label col-md-7 col-md-offset-1 form-label" })
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                    <input class="form-control text-box single-line" data-val="true" data-val-date="The field DateSpent must be a date." data-val-required="The DateSpent field is required." id="transaction-datepicker" name="DateSpent" />                   
                    @Html.ValidationMessageFor(model => model.DateSpent, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-4 col-md-offset-1 form-label" })
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-1">
                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-5">
                    @Html.RadioButtonFor(model => model.Type, "Expense", new { @checked = "checked", @id = "radio-expense" })Expense
                    @Html.Raw("<br>")
                    @Html.RadioButtonFor(model => model.Type, "Income", new { @id = "radio-income" })Income
                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                @Html.LabelFor(model => model.ReconciledAmount, htmlAttributes: new { @class = "control-label col-md-7 col-md-offset-1 form-label" })
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-1">
                    @Html.EditorFor(model => model.ReconciledAmount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReconciledAmount, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <!---#expense-dropdown is displayed by default, can be hidden depending on value of radio button-->
        <div id="expense-dropdown">
            <div class="form-group">
                <div class="row">
                    @Html.LabelFor(model => model.SelectedExpenseCategory, htmlAttributes: new { @class = "control-label col-md-4 col-md-offset-1 form-label" })
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-1">
                        @Html.DropDownListFor(model => model.SelectedExpenseCategory, Model.ExpenseCategoryList, "-Select Category-", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedExpenseCategory, "", new { @class = "text-danger" })
                        @Html.ActionLink("Edit Categories", "EditCategories", "Budgets", new { @id = User.Identity.GetHouseholdId() }, null)
                    </div>
                </div>
            </div>
        </div>
        <!---#income-dropdown is initally hidden in transaction-form-style stylesheet-->
        <div id="income-dropdown">
            <div class="form-group">
                <div class="row">
                    @Html.LabelFor(model => model.SelectedIncomeCategory, htmlAttributes: new { @class = "control-label col-md-4 col-md-offset-1 form-label" })
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-1">
                        @Html.DropDownListFor(model => model.SelectedIncomeCategory, Model.IncomeCategoryList, "-Select Category-", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedIncomeCategory, "", new { @class = "text-danger" })
                        @Html.ActionLink("Edit Categories", "EditCategories", "Budgets", new { @id = User.Identity.GetHouseholdId() }, null)
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                @Html.LabelFor(model => model.SelectedUser, htmlAttributes: new { @class = "control-label col-md-7 col-md-offset-1 form-label" })
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                    @Html.DropDownListFor(model => model.SelectedUser, Model.HouseholdUsersList, "-Select User-", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SelectedUser, "", new { @class = "text-danger" })
                </div>
            </div>
      </div>

        <div class="form-actions no-color">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}
