@model Budgeter.Models.TransactionInfoViewModel

<link href="~/Content/transaction-form-style.css" rel="stylesheet">

<h4>Void Transaction</h4>

<p class="confirm-delete">Are you sure you want to void this transaction? It will be not be included in the account balance but will be accessible in the Voided Transactions page.</p>

<div class="form-group">
    <div class="row">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4 col-md-offset-1 form-label" })
    </div>
    <div class="row">
        <div class="col-md-7 col-md-offset-1">
            @Html.DisplayFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        @Html.LabelFor(model => model.DateSpent, htmlAttributes: new { @class = "control-label col-md-7 col-md-offset-1 form-label" })
    </div>
    <div class="row">
        <div class="col-md-7 col-md-offset-1">
            @*@Html.DisplayFor(model => model.DateSpent.ToString("M/d/yyyy"), new { htmlAttributes = new { @class = "form-control" } })*@
            @Model.DateSpent.ToString("M/d/yyyy")
            @*<input class="form-control text-box single-line" data-val="true" data-val-date="The field DateSpent must be a date." data-val-required="The DateSpent field is required." id="DateSpent" name="DateSpent" value="@Model.DateSpent" type="date" min="2016-01-01" max="2016-12-31" />*@
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-4 col-md-offset-1 form-label" })
    </div>
    <div class="row">
        <div class="col-md-7 col-md-offset-1">
            $@Model.Amount
            @Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")
            @Html.DisplayFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
</div>



<div class="form-group">
    <div class="row">
        @Html.LabelFor(model => model.ReconciledAmount, htmlAttributes: new { @class = "control-label col-md-7 col-md-offset-1 form-label" })
    </div>
    <div class="row">
        <div class="col-md-7 col-md-offset-1">
            $@Model.ReconciledAmount
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-4 col-md-offset-1 form-label" })
    </div>
    <div class="row">
        <div class="col-md-7 col-md-offset-1">
            @Html.DisplayFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
</div>


<div class="form-group">
    <div class="row">
        @Html.LabelFor(model => model.SpentByName, htmlAttributes: new { @class = "control-label col-md-7 col-md-offset-1 form-label" })
    </div>
    <div class="row">
        <div class="col-md-7 col-md-offset-1">
            @Html.DisplayFor(model => model.SpentByName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        @Html.LabelFor(model => model.EnteredByName, htmlAttributes: new { @class = "control-label col-md-7 col-md-offset-1 form-label" })
    </div>
    <div class="row">
        <div class="col-md-7 col-md-offset-1 not-editable">
            @Html.DisplayFor(model => model.EnteredByName, new { htmlAttributes = new { @class = "form-control" } })            @*@Html.EditorFor(model => model.EnteredByName, new { htmlAttributes = new { @class = "form-control" } })*@
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        @Html.LabelFor(model => model.DateEntered, htmlAttributes: new { @class = "control-label col-md-7 col-md-offset-1 form-label" })
    </div>
    <div class="row">
        <div class="col-md-7 col-md-offset-1 not-editable">
            @Model.DateEntered.ToString("M/d/yyyy")
        </div>
    </div>
</div>

@using (Html.BeginForm("VoidConfirmed", "Transactions", new { id = Model.Id }, FormMethod.Post, null))
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Confirm Void" class="btn btn-default" />
    </div>
}
